.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.new-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 400px;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid lightgrey;
  border-radius: 10px;
  color: lightgrey;
}

.new-list:hover {
  box-shadow: 5px 5px 7px grey;
  transition: 1s;
  color: grey;
}

.new-list h2 {
  font-size: 2rem;
}

.new-list i {
  font-size: 5rem;
  margin: 1.5rem auto;
}

.todo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 400px;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid lightgrey;
  border-radius: 10px;
  box-shadow: 5px 5px 7px grey;
}

.title {
  text-shadow: 2px 2px lightgrey;
  font-size: 2rem;
}

.list-item {
  display: flex;
  width: 90%;
  margin: 0.5rem auto;
  border: 1px solid lightgrey;
  box-shadow: 3px 3px 7px lightgrey;
  justify-content: space-between;
  font-size: 1.2rem;
  padding: 0.5rem;
}

.list-item:hover {
  background-color: lightgrey;
  color: white;
  box-shadow: 5px 5px 9px black;
  transition: 1s;
}

i {
  font-size: 1rem;
}

.title i {
  margin-left: 1rem;
}

.title i:hover {
  color: green;
}

.form-box {
  padding: 0.5rem;
  margin: 0.5rem ;
}

.form-box input {
  width: 65%;
}

.form-box button {
  width: 20%;
  background-color: lightgrey;
  color: black;
  margin: 3px;
  border: 1px solid grey;
  transition: 1s;
}

.form-box button:hover {
  background-color: grey;
  color: black;
  border: 1px solid black;
}
